/*------------ left-sidebar -------------*/
.sub-left-sidebar {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    height: auto;
  }
  .bg img{
    width: 100%;
    
  }
  .pic-profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    /* z-index: 1; */
  }
  .name-user h4 {
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
  }
  .info-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .info-profile {
    margin: 10px 0;
  }
  .info-profile span {
    margin: 0 75px;
  }
  .separe-sub-left-sidebar {
    width: 100%;
    position: relative;
    border-bottom: 1px solid black;
  }

    /*-------- right-sidebar ------------*/
 .title-event ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/* ul {
  
  margin-left: 7px;
} */
.event h4 {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 8px 10px;
}
.info {
  display: block;
  /* width: 200px; */
  margin: 3px 0;
  /* margin-left: 22px; */
  
}
.fix-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  list-style: inside;
}
ul{
  list-style: inside;
}
.fix-list a{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
 
}